.tarefa-container{
  background-color:#eee;
  margin:8px 0;
  padding:15px 20px;
  display:flex;
  border-radius:5px;
  justify-content: space-between;
  color: #444;
  align-items: center;
  cursor: pointer;
  
}
.buttons-container{
  width:30%;
  display:flex;
  justify-content: flex-end;
  
}
.deletar-tarefa{
  background: #f09aa7; 
}
.mostrar-tarefa{
  background: #927eec;
}