.tarefa-container{
  background-color:rgb(205, 223, 245);
  margin:8px 0;
  padding:15px 20px;
  display:flex;
  border-radius:5px;
  justify-content: space-between;
  color: #444;
  align-items: center;
  cursor: pointer;
  
}
.buttons-container{
  width:30%;
  display:flex;
  justify-content: flex-end;
  
}
.deletar-tarefa{
  background: #f38a9a; 
}
.editar-tarefa{
  background: #927eec;
}

.info-tarefa{
  background: #8ac0f3; 
}